<a href="https://colab.research.google.com/github/Joshua-Joseph/miniProjectS6/blob/main/demoSports.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import spacy

In [2]:
nlp = spacy.load("en_core_web_sm")

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/finalDatasetSports - BBC News Train.csv", on_bad_lines='skip')

In [4]:
df

                                                   Text    Category
0     worldcom ex-boss launches defence lawyers defe...  non sports
1     german business confidence slides german busin...  non sports
2     bbc poll indicates economic gloom citizens in ...  non sports
3     lifestyle  governs mobile choice  faster  bett...  non sports
4     enron bosses in $168m payout eighteen former e...  non sports
...                                                 ...         ...
2647  The senior is one of the most decorated male t...      sports
2648  2020 COULD be your year to get moving and chan...      sports
2649  RT @MailSport: 'I thought you liked yellow on ...      sports
2650  RT @BBCSport: ❤️ \n\nTennis greats played toge...      sports
2651  RT @MattRacquet: A thread on hard court slidin...      sports

[2652 rows x 2 columns]

In [5]:
df.isnull().sum()

Text        0
Category    0
dtype: int64

In [6]:
df['Category'] = df['Category'].replace({'non sports': 0})
df['Category'] = df['Category'].replace({'sports': 1})

In [7]:
df

                                                   Text  Category
0     worldcom ex-boss launches defence lawyers defe...         0
1     german business confidence slides german busin...         0
2     bbc poll indicates economic gloom citizens in ...         0
3     lifestyle  governs mobile choice  faster  bett...         0
4     enron bosses in $168m payout eighteen former e...         0
...                                                 ...       ...
2647  The senior is one of the most decorated male t...         1
2648  2020 COULD be your year to get moving and chan...         1
2649  RT @MailSport: 'I thought you liked yellow on ...         1
2650  RT @BBCSport: ❤️ \n\nTennis greats played toge...         1
2651  RT @MattRacquet: A thread on hard court slidin...         1

[2652 rows x 2 columns]

In [8]:
for i in range(len(df['Text'])):
  doc = nlp(df['Text'][i])
  df['Text'][i] = ''
  df['Text'][i] = [token.lemma_ for token in doc]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [9]:
df['Text'] = df['Text'].apply(' '.join)

In [10]:
df

                                                   Text  Category
0     worldcom ex - boss launch defence lawyer defen...         0
1     german business confidence slide german busine...         0
2     bbc poll indicate economic gloom citizen in a ...         0
3     lifestyle   governs mobile choice   faster   w...         0
4     enron boss in $ 168 m payout eighteen former e...         0
...                                                 ...       ...
2647  the senior be one of the most decorate male te...         1
2648  2020 COULD be -PRON- year to get move and chan...         1
2649  RT @mailsport : ' -PRON- think -PRON- like yel...         1
2650  RT @bbcsport : ❤ ️ \n\n tennis great play toge...         1
2651  RT @MattRacquet : a thread on hard court slide...         1

[2652 rows x 2 columns]

In [11]:
from spacy.lang.en.stop_words import STOP_WORDS
stop = STOP_WORDS

In [12]:
for i in range(len(df['Text'])):
  doc = nlp(df['Text'][i])
  df['Text'][i] = ''
  df['Text'][i] = [token.text for token in doc if ((token.is_stop == False) and (len(token)>2))]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [13]:
df['Text'] = df['Text'].apply(' '.join)

In [16]:
# cnt = 0
# for i in range(len(df['Text'])):
#   if(df['Category'][i]==0):
#     cnt+=1

# print(cnt)

2048

In [18]:
df = df.sample(frac = 1)
df.reset_index(inplace = True)
df.drop(["index"], axis = 1, inplace = True)

In [19]:
df

                                                   Text  Category
0     @YssHeadOffice @ani H.H Sant Shri Asharam Bapu...         0
1     @TombStoneWyatt good morning PATRIOTS \n\n  te...         1
2     wasp leicester leicester withstand stunning wa...         1
3     surprise win anti bush film michael moore anti...         0
4     -PRON- big political guy politic start fight -...         0
...                                                 ...       ...
2647  @washingtonpost https://t.co/b56leyiygl \n\n  ...         0
2648  junk mail relentless rise spam traffic total m...         0
2649  label withdraw mcfadden video new video westli...         0
2650  video phone help deaf people deaf people prefe...         0
2651  mogul wilson backing rap band tony wilson musi...         0

[2652 rows x 2 columns]

In [20]:
x = df["Text"]
y = df["Category"]
# 0 -- 2048
# 1 -- 604

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
vectorization = TfidfVectorizer(max_df = 0.7)
vectorizer = vectorization.fit(x_train)
xv_train = vectorizer.transform(x_train)
xv_test = vectorizer.transform(x_test)

In [25]:
import joblib
joblib.dump(vectorizer, 'sports_vect_model.pkl')

['sports_vect_model.pkl']

In [26]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

In [27]:
param_grid = {
         'C': [1e3, 5e3, 1e4, 5e4, 1e5],
          'gamma': [0.0001, 0.0005, 0.001, 0.005, 0.01, 0.1],
          }
# param_grid = {
#          'C': [1e3],
#           'gamma': [0.0001],
#           }
clf = GridSearchCV(SVC(kernel='rbf', class_weight='balanced'), param_grid) 
clf = clf.fit(xv_train, y_train)

print("Best estimator found by grid search:")
print(clf.best_estimator_)

Best estimator found by grid search:
SVC(C=5000.0, class_weight='balanced', gamma=0.0005)

In [28]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(y_test,clf.predict(xv_test))
print('Accuracy:',acc)

Accuracy: 0.9728506787330317

In [29]:
import joblib  
joblib.dump(clf, 'sports_clf_svm_model.pkl')

['sports_clf_svm_model.pkl']

In [30]:
from sklearn.ensemble import RandomForestClassifier

In [31]:
clf2 = RandomForestClassifier(random_state=42)

In [32]:
from sklearn.model_selection import GridSearchCV
param_grid2 = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}

clf3 = GridSearchCV(estimator = clf2, param_grid = param_grid2, 
                           n_jobs = -1, verbose = 2)

In [33]:
clf3.fit(xv_train, y_train)
print("Best estimator found by grid search:")
print(clf3.best_estimator_)

Fitting 5 folds for each of 288 candidates, totalling 1440 fits
Best estimator found by grid search:
RandomForestClassifier(max_depth=80, max_features=2, min_samples_leaf=3,
                       min_samples_split=8, random_state=42)

In [34]:
acc = accuracy_score(y_test,clf3.predict(xv_test))
print('Accuracy:',acc)

Accuracy: 0.7767722473604827

In [35]:
joblib.dump(clf3, 'sports_clf_rfc_model.pkl')

['sports_clf_rfc_model.pkl']