<a href="https://colab.research.google.com/github/Joshua-Joseph/miniProjectS6/blob/main/miniProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing the required modules**

In [1]:
import spacy

In [2]:
# checking Spacy

nlp = spacy.load("en_core_web_sm")
doc = nlp(u"Apple is looking at buying a U.K. startup for $1 billion")
for token in doc:
    print(token.text)

Apple
is
looking
at
buying
a
U.K.
startup
for
$
1
billion

In [19]:
import pandas as pd
import numpy as np
df = pd.read_csv("/content/dataset.csv", on_bad_lines='skip')

In [20]:
df

               label                                          full_text
0      Non-offensive  !!! RT @mayasolovely: As a woman you shouldn't...
1          Offensive  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2          Offensive  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3          Offensive  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4          Offensive  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...              ...                                                ...
24770      Offensive  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24771  Non-offensive  you've gone and broke the wrong heart baby, an...
24772      Offensive  young buck wanna eat!!.. dat nigguh like I ain...
24773      Offensive              youu got wild bitches tellin you lies
24774  Non-offensive  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24775 rows x 2 columns]

In [7]:
df.isnull().sum()

label        0
full_text    0
dtype: int64

In [21]:
df['label'] = df['label'].replace({'Non-offensive': 0})
df['label'] = df['label'].replace({'Offensive': 1})

In [9]:
df

       label                                          full_text
0          0  !!! RT @mayasolovely: As a woman you shouldn't...
1          1  !!!!! RT @mleew17: boy dats cold...tyga dwn ba...
2          1  !!!!!!! RT @UrKindOfBrand Dawg!!!! RT @80sbaby...
3          1  !!!!!!!!! RT @C_G_Anderson: @viva_based she lo...
4          1  !!!!!!!!!!!!! RT @ShenikaRoberts: The shit you...
...      ...                                                ...
24770      1  you's a muthaf***in lie &#8220;@LifeAsKing: @2...
24771      0  you've gone and broke the wrong heart baby, an...
24772      1  young buck wanna eat!!.. dat nigguh like I ain...
24773      1              youu got wild bitches tellin you lies
24774      0  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24775 rows x 2 columns]

In [25]:
df['full_text'] = df['full_text'].apply(' '.join)

In [26]:
df

       label                                          full_text
0          0  ! ! ! RT @mayasolovely : As a woman you should...
1          1  ! ! ! ! ! RT @mleew17 : boy dats cold ... tyga...
2          1  ! ! ! ! ! ! ! RT @UrKindOfBrand Dawg ! ! ! ! R...
3          1  ! ! ! ! ! ! ! ! ! RT @C_G_Anderson : @viva_bas...
4          1  ! ! ! ! ! ! ! ! ! ! ! ! ! RT @ShenikaRoberts :...
...      ...                                                ...
24770      1  you 's a muthaf***in lie & # 8220;@LifeAsKing ...
24771      0  you 've gone and broke the wrong heart baby , ...
24772      1  young buck wanna eat ! ! .. dat nigguh like I ...
24773      1              youu got wild bitches tellin you lies
24774      0  ~~Ruffled | Ntac Eileen Dahlia - Beautiful col...

[24775 rows x 2 columns]

In [27]:
for i in range(len(df['full_text'])):
  doc = nlp(df['full_text'][i])
  df['full_text'][i] = ''
  df['full_text'][i] = [token.lemma_ for token in doc]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [28]:
df

       label                                          full_text
0          0  [!, !, !, RT, @mayasolovely, :, as, a, woman, ...
1          1  [!, !, !, !, !, RT, @mleew17, :, boy, dat, col...
2          1  [!, !, !, !, !, !, !, RT, @UrKindOfBrand, Dawg...
3          1  [!, !, !, !, !, !, !, !, !, RT, @C_G_Anderson,...
4          1  [!, !, !, !, !, !, !, !, !, !, !, !, !, RT, @S...
...      ...                                                ...
24770      1  [-PRON-, be, a, muthaf***in, lie, &, #, 8220;@...
24771      0  [-PRON-, ', ve, go, and, break, the, wrong, he...
24772      1  [young, buck, wanna, eat, !, !, .., dat, niggu...
24773      1      [youu, get, wild, bitch, tellin, -PRON-, lie]
24774      0  [~~Ruffled, |, Ntac, Eileen, Dahlia, -, beauti...

[24775 rows x 2 columns]

In [33]:
df['full_text'] = df['full_text'].apply(' '.join)

In [30]:
from spacy.lang.en.stop_words import STOP_WORDS
stop = STOP_WORDS

In [34]:
for i in range(len(df['full_text'])):
  doc = nlp(df['full_text'][i])
  df['full_text'][i] = ''
  df['full_text'][i] = [token.text for token in doc if ((token.is_stop == False) and (len(token)>2))]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [35]:
df

       label                                          full_text
0          0  [@mayasolovely, woman, -PRON-, complain, clean...
1          1  [@mleew17, boy, dat, cold, ..., tyga, dwn, bad...
2          1  [@UrKindOfBrand, Dawg, @80sbaby4life, -PRON-, ...
3          1  [@C_G_Anderson, @viva_based, -PRON-, look, lik...
4          1  [@ShenikaRoberts, shit, -PRON-, hear, -PRON-, ...
...      ...                                                ...
24770      1  [-PRON-, muthaf***in, lie, 8220;@lifeasking, @...
24771      0  [-PRON-, break, wrong, heart, baby, drive, -PR...
24772      1  [young, buck, wanna, eat, dat, nigguh, like, -...
24773      1           [youu, wild, bitch, tellin, -PRON-, lie]
24774      0  [~~Ruffled, Ntac, Eileen, Dahlia, beautiful, c...

[24775 rows x 2 columns]

In [36]:
df['full_text'] = df['full_text'].apply(' '.join)

In [37]:
df

       label                                          full_text
0          0  @mayasolovely woman -PRON- complain clean -PRO...
1          1  @mleew17 boy dat cold ... tyga dwn bad cuffin ...
2          1  @UrKindOfBrand Dawg @80sbaby4life -PRON- fuck ...
3          1  @C_G_Anderson @viva_based -PRON- look like tranny
4          1  @ShenikaRoberts shit -PRON- hear -PRON- true -...
...      ...                                                ...
24770      1  -PRON- muthaf***in lie 8220;@lifeasking @20_pe...
24771      0  -PRON- break wrong heart baby drive -PRON- red...
24772      1  young buck wanna eat dat nigguh like -PRON- fu...
24773      1                  youu wild bitch tellin -PRON- lie
24774      0  ~~Ruffled Ntac Eileen Dahlia beautiful color c...

[24775 rows x 2 columns]

In [38]:
x = df["full_text"]
y = df["label"]
# 0 -- 4162
# 1 -- 20613

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25)

In [47]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [48]:
vectorization = TfidfVectorizer(max_df = 0.7)
xv_train = vectorization.fit_transform(x_train)
xv_test = vectorization.transform(x_test)

In [49]:
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

In [50]:
param_grid = {
         'C': [1e3, 5e3, 1e4, 5e4, 1e5],
          'gamma': [0.0001, 0.0005, 0.001, 0.005, 0.01, 0.1],
          }
clf = GridSearchCV(SVC(kernel='rbf', class_weight='balanced'), param_grid) 
clf = clf.fit(xv_train, y_train)

print("Best estimator found by grid search:")
print(clf.best_estimator_)

Best estimator found by grid search:
SVC(C=10000.0, class_weight='balanced', gamma=0.0001)

In [52]:
from sklearn.metrics import accuracy_score

In [53]:
acc = accuracy_score(y_test,clf.predict(xv_test))
print('Accuracy:',acc)

Accuracy: 0.9549564094284791

In [54]:
import joblib  
joblib.dump(clf, 'clf_svm_model.pkl')

['clf_svm_model.pkl']

In [57]:
from sklearn.ensemble import RandomForestClassifier

In [58]:
clf2 = RandomForestClassifier(random_state=42)

In [59]:
from pprint import pprint
print('Parameters currently in use:\n')
pprint(clf2.get_params())

Parameters currently in use:

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 42,
 'verbose': 0,
 'warm_start': False}

In [61]:
param_grid2 = {
    'bootstrap': [True],
    'max_depth': [80, 90, 100, 110],
    'max_features': [2, 3],
    'min_samples_leaf': [3, 4, 5],
    'min_samples_split': [8, 10, 12],
    'n_estimators': [100, 200, 300, 1000]
}

clf3 = GridSearchCV(estimator = clf2, param_grid = param_grid, 
                          cv = 3, n_jobs = -1, verbose = 2)

In [62]:
clf3.fit(xv_train, y_train)
print("Best estimator found by grid search:")
print(clf3.best_estimator_)

Fitting 3 folds for each of 30 candidates, totalling 90 fits

ValueError: ignored